body {
  font-family: "Roboto", sans-serif;
  color: #22272f;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-simple-maps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 98vh;
  overflow: hidden;
}

.custom-tooltip {
  border: 1px solid #22272f;
  border-radius: 5px;
}

.legend-container {
  margin-left: 10px;
  width: 350px;
}

ul {
  list-style-type: none;
  margin-block-start: 10px;
}

.g20-sidebox {
  height: 20px;
  width: 20px;
  background-color: #ff7e00;
  border-radius: 3px;
  margin: 10px;
}

.guest-sidebox {
  height: 20px;
  width: 20px;
  background-color: #00bdff;
  border-radius: 3px;
  margin: 10px;
}

.legend-heading-box {
  display: flex;
  align-items: center;
  text-align: center; /* Center align text */
}

.legend-heading {
  margin: 0 !important;
  font-weight: bold;
}

.fact {
  border: 1px solid #22272f;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}

.heading {
  font-weight: bold;
}

.box {
  display: grid;
  width: 100%;
  margin: 50px 20px;
  grid-auto-flow: column dense; /* column flow with "dense" to fill all the cells */
  grid-template-rows: auto auto; /* 2 rows */
}

/* irrelevant styles */
.box {
  grid-gap: 5px;
}

@media screen and (max-width: 1200px) {
  .box {
    grid-template-rows: auto auto auto; /* 3 rows on smaller screens */
  }
  .react-simple-maps-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
  }
  .legend-large {
    display: none;
  }
  .legend-container {
    display: flex;
  }
}

.legend-small {
  margin-top: 50px;
}

@media screen and (min-width: 1199px) {
  .legend-small {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-rows: auto auto auto auto; /* 4 rows on smaller screens */
  }
  .two-column-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Centers and adds space between columns */
    padding: 0; /* Remove default padding */
  }

  .two-column-list li {
    flex-basis: calc(
      50% - 10px
    ); /* Two columns with space in between (adjust the value as needed) */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  .list2 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .box {
    grid-template-rows: auto auto auto auto auto; /* 5 rows on smaller screens */
  }
}

.fact1 {
  bottom: 5%;
  left: 55%;
}

.fact2 {
  bottom: 15%;
  left: 30%;
}

.fact3 {
  bottom: 45%;
  left: 20%;
}

.fact4 {
  bottom: 45%;
  right: 10%;
}

.fact5 {
  bottom: 65%;
  right: 2%;
}

.fact6 {
  bottom: 5%;
  right: 10%;
}

.fact7 {
  bottom: 25%;
  right: 2%;
}

.fact8 {
  bottom: 25%;
  right: 25%;
}

.fact9 {
  bottom: 25%;
  right: 45%;
}

.fact10 {
  top: 5%;
  left: 25%;
}

.fact11 {
  top: 15%;
  right: 5%;
}

.fact12 {
  bottom: 28%;
  left: 25%;
}

.fact13 {
  top: 5%;
  right: 15%;
}

.fact14 {
  top: 2%;
  right: 35%;
}

.fact15 {
  top: 30%;
  left: 20%;
}
