.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-simple-maps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: double;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.custom-tooltip {
  outline: 1px solid red;
}
